.form {
    text-align: center;
}

.form-field {
    display: inline;
}

.list {
    margin-left: 10%;
    margin-right: 10%;

    /* Make all items unselectable */
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

.list>div {
    background: none;
    transition: 0.1s;
}

.list>div:hover {
    background: rgb(199, 199, 199);
}