<div class="form">
    <br>
    <!-- input form for user to add new task -->
    <form class="form-field" (ngSubmit)="addTask()">
        <mat-form-field appearance="outline">
            <mat-label>New Task</mat-label>
            <input matInput placeholder="Ex. Apply at VideoTranslator" name="userInput" [(ngModel)]="newTask">
        </mat-form-field>
    </form>
</div>

<!-- list containing all tasks -->
<mat-list class="list">
    <h1>Things to do:</h1>
    <mat-divider />
    <!-- Hint telling user that the list is empty -->
    <span *ngIf="todos.length <= 0"><br>Please add a new task</span>
    <!-- Only displays when something is selected -->
    <div *ngIf="todos.length > 0 && checkList.selectedOptions.selected.length > 0">
        <button mat-button color="primary"
            (click)="updateTask(checkList.selectedOptions.selected[0].value)">Complete</button>
        <button mat-button color="warn"
            (click)="deleteTask(checkList.selectedOptions.selected[0].value)">Delete</button>
        <button mat-button color="basic"
            (click)="translateTask(checkList.selectedOptions.selected[0].value)">Translate</button>
    </div>
    <!-- selection for each task -->
    <!-- allows for future expansion for multiple selections -->
    <mat-selection-list #checkList [multiple]="false">
        <mat-list-option *ngFor="let item of todos" [value]="item">
            <s> {{ item.completed ? item.task : "" }} </s>
            {{ item.completed ? "" : item.task }}
        </mat-list-option>
    </mat-selection-list>
</mat-list>